---
type: class
name: TestResults
module: doctest
lineno: 111
tags:
  - python
  - class
---

# Class: TestResults

## Overview

**Module:** [[Modules/doctest|doctest]]
**Line:** 111

## Methods

### Constructors
- [[Functions/__new___4980|__new__()]] (line 112)

### Magic Methods
- [[Functions/__repr___4981|__repr__()]] (line 117)
